# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# PyCharm
.idea/

# Private data
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/sample/
!data/sample/**